<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/soloGame">
</head>
<body>

    <input id="roomInput" type="text">
    <button id="createRoom">create Room</button>
    <button id="joinRoom">join Room</button>


    <script src="socket.ioClientJS\socket.io.js"></script>
    <script src="js/coopLobby.js"></script>
</body>
</html>