<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spielmodus wählen</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="back-button">
        <a href="/api/users/profile">
            &larr; Zurück
        </a>
    </div>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    <p>Wähle einen Modus</p>
    <div class="menu">
        <div class="menu-item"><a href="/soloLobby">SOLO-MODUS</a></div>
        <div class="menu-item"><a href="/coopLobby">COOP-MODUS</a></div>
        <div class="menu-item"><a href="/1v1Lobby">VS-MODUS</a></div>
    </div>
</body>
</html>
