<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
   
</head>
<body>
    <div class="back-button">
        <a href="/game-mode">
            &larr; Zurück
        </a>
    </div>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    <div class="lobby-container">
    <input id="roomInput" type="text" placeholder="Hier den Raum-Namen eingeben">
    <button id="createRoom">Raum erstellen</button>
    <button id="joinRoom">Raum beitreten</button>
    <div>
    <div >
    <label for="kursSelect">Wähle einen Kurs</label>
    <select name="kursSelect" id="kursSelect">
        <option value="all">Fragen aus allen Kursen</option>
    </select>
     <button id="publicSwitch">public</button>
     <p>Aktuelle Räume</p>
     <div id="div3"></div>
    </div>
    
    <script src="socket.ioClientJS\socket.io.js"></script>
    <script src="js/oneVoneLobby.js"></script>
</body>
</html>