<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/oneVoneGame.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    <div id="waiting"></div>
    <div id="timer"></div>
    <div class="user-table-container">
        <div id="quiz"></div>
    </div>
    <div id="quizButtons">
        <button id="submit">Abgeben</button>
    </div>
   <div><p id="result"></p> <p id="score"></p><p id="oppScore"></p></div>
<script src="socket.ioClientJS\socket.io.js"></script>
<script src="\js\oneVoneGame,js"></script>

</body>

</html>