<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/soloLobby.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="back-button">
        <a href="/game-mode">
            &larr; Zurück
        </a>
    </div>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    <p>Wähle einen Kurs:</p>
    <div id="kurse" style="display: flex; flex-wrap: wrap;">
        <a href="soloGame?kurs=null" style="color: black;"><div style="background-color: greenyellow;" class="quadrat"><p class="kurs">Alle Kurse</p></div></a>
    </div>
    
    <script src="/js/soloLobby.js"></script>
</body>
</html>