/* Allgemeine Einstellungen */
body {
    font-family: Helvetica, sans-serif;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Allgemeine Links */
a {
    color: rgb(214, 255, 98);
    font-weight: 600;
    text-decoration: none;
}

/* Allgemeiner Text */
p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    color: rgb(214, 255, 98);
}

/* Antwortmoeglichkeiten Quiz */
label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-right: 20px;
    color: rgb(211, 211, 211);
}

/* Ueberschrift H1 */
h1 {
    font-size: 22px;
    font-weight: 700;
    color: rgb(214, 255, 98);
    width: 100%;
    text-align: center;
}

/* Container fuer Formulare */
.form-container {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}


.profile-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

/* Formular-Feld */
input.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f4f4b8;
}

/* Formular Button */
input.form-button {
    background-color:rgb(214, 255, 98);
    color: #1d1d1d;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Formular Button Hover */
input.form-button:hover {
    background-color: rgb(190, 241, 52);
    transform: scale(1.02);
}

/* Spezieller Hinweistext */
.mssg {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.profile-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.profile-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Allgemeiner Button */
button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    min-width: 100px;
    background-color: #D7FF62;
    color: #2a2a2a;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    border-width: 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Logout Button */
.logout-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #D7FF62;
    color: #2a2a2a;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* Formular Button Hover */
.logout-link:hover {
    transform: scale(1.05);
}

.additional-links {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

/* Header-Logo Container */
.logo-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    margin-bottom: 10px;
}

/* Header-Logo */
.logo {
    max-width: 150px;
    height: auto;
}

.profile-header {
    position: absolute;
    top: 50px; /* Abstand vom oberen Rand */
    right: 40px; /* Abstand vom rechten Rand */
    text-align: right; /* Inhalt rechtsbündig */
    z-index: 1000; /* Über anderen Elementen */
}

.username-display {
    font-size: 14px; /* Kleinere Schriftgröße */
    color: #D7FF62; /* Weißer Text */
    font-weight: 600; /* Fettgedruckt */
    margin-bottom: 5px; /* Abstand zwischen Username und Logout-Button */
}

.menu {
    display: flex;
    flex-direction: column; /* Menüpunkte untereinander anordnen */
    align-items: center; /* Inhalte zentrieren */
    justify-content: center; /* Vertikale Zentrierung der Inhalte */
    padding: 20px; /* Innenabstand für das Menü */
    text-align: center; /* Textausrichtung zentrieren */
}

.menu-item {
    margin: 10px 0; /* Abstand zwischen den Menüpunkten */
    font-size: 24px;
    color: #D7FF62;
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
    color: #D7FF62;
}

.menu-item a:hover {
    text-decoration: underline;
    color: #D7FF62;
    
}

.user-table {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #1f1f1f;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #3e3e3e;
}

.user-table tr:nth-child(even) {
    background-color: #3e3e3e;
}

.user-table button {
    background-color: #D7FF62;
    color: rgb(30, 30, 30);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.user-table button:hover {
    background-color: #c6f732;
}
 .back-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    position: absolute;
    top: 50px; /* Abstand vom oberen Rand */
    left: 40px; /* Abstand vom rechten Rand */
    text-align: center; /* Inhalt rechtsbündig */
    z-index: 1000; /* Über anderen Elementen */
 }

 .hinweisP {
    font-size: 10px;
    position: absolute;
    bottom: 0px; /* Abstand vom oberen Rand */
    left: 20px; /* Abstand vom rechten Rand */
    text-align: left; /* Inhalt rechtsbündig */
    max-width: 200px;
    z-index: 1000; /* Über anderen Elementen */
 }

 td {
    color: #c7c7c7;
 }

 th {
    color: #c7c7c7;
 }

 /* Begrenzung der Tabellenhöhe mit Scrollbalken */
.user-table-container {
    max-height: 500px; /* Maximale Höhe der Tabelle */
    overflow-y: auto;  /* Scrollbalken aktivieren */
    width: 80%;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #2a2a2a;
    padding: 10px;
}

.delete-button {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 100px; /* Stellt sicher, dass der Text passt */
}

.wholeQuestion {
    border: 1px solid #1f1f1f; /* Dünner schwarzer Rahmen */
    border-radius: 8px; /* Abgerundete Ecken */
    padding: 10px; /* Etwas Innenabstand für eine bessere Optik */
    margin-bottom: 15px;
}

.checkbox0 {
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

.lobby-container {
    justify-content: space-between;
    width: 300px;
}
#roomInput {
    width: 100%;
    color: #a6a6a6;
    }

#createRoom {
    width: 100%;
    }

#joinRoom {
    width: 100%;
    margin-bottom: 50px;
    }

#kursSelect {
    width: 100%;
    color: #a6a6a6;
    margin-bottom: 50px;
    }

#publicSwitch {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
    }

#div3 {
        color: white;
        font-size: 8pt;
}

#waiting {
    color: #D7FF62;
}
